.cart-container {
    position: relative;
    cursor: pointer;
  }
  
  .cart-icon {
    width: 40px;
    height: 40px;
  }
  
  .cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
  }